body {
    background-color: #2e2e2e;
    font-family: 'Trebuchet MS', sans-serif;
}

#mainDates {
    background-color: rgb(85, 85, 85);
}

#mainDates h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}