body {
    background-color: #2e2e2e;
    font-family: 'Trebuchet MS', sans-serif;
}

#back {
    font-size: 25px;
    padding-left: 20px;
}

a {
    color: #FFFFFF;
}

#title {
    background-color: #2e2e2e;
    border-radius: 75px;
    border-color: #2e2e2e;
    border-width: 2.5px;
    border-style: solid;
    margin-left: 650px;
    margin-right: 650px;
    box-shadow: 0 0 35px 5px #b9b9b9;
}

#title h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    padding: 5px;
}

.date {
    color:  rgb(255, 255, 255);
    background-color: #2e2e2e;
    text-align: center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 45px;
    margin: auto;
}