body {
    background-color: #2e2e2e;
    font-family: 'Trebuchet MS', sans-serif;
}

#title {
    background-color: rgb(85, 85, 85);
    border-radius: 25px;
}

#title h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

/*#dates {
    background-color: rgb(85, 85, 85);
    border-radius: 25px;
    width: 50%;
    margin: auto;
}*/

.date {
    color:  rgb(255, 255, 255);
    background-color: rgb(129, 129, 129);
    text-align: center;
    margin-top: 15%;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 45px;
    margin: auto;
}