body {
    background-color: #222222;
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  border-radius: 25px;
  border-color: #969595;
  border-width: 2.5px;
  border-style: solid;
  justify-content: center;
}

ul li a {
  font-weight: bold;
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: solid;
  font-family: 'Montserrat';
  font-size: 20px;
}

ul li a.active {
  background-color: #424242;
}

ul li a:hover {
  background-color: #464646;
  border-radius: 7.5px;
}

.glow {
    /*text-align: center;*/
    padding: 70px;
    padding-top: 225px;
    font-family: 'Playfair Display';
    font-size: 75px;
    color: #ffffff;
    animation: glow 1.5s ease-in-out infinite alternate;
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dff4d, 0 0 40px #4dff4d, 0 0 50px #4dff4d;
  }
}

p {
  font-family: 'Montserrat';
  font-size: 37.5px;
  margin-left: 70px;
  margin-bottom: 300px;
  position: relative;
  top: -125px;
  width: 650px;
  color: #ffffff;
}

button {
  /*text-align: center;*/
  background-color: #4e4e4e;
  height: 50px;
  width: 200px;
  margin-left: 70px;
  font-size: 25px;
  border-radius: 50px;
  border-color: #adadad;
  font-family: 'Montserrat';
  position: relative;
  top: -375px;
  color: #363636;
  transition: 0.1s;
  box-shadow: 0 9px #363636;
}

button:hover {
  background-color:#8b8b8b ;
}

button:active {
  background-color: #fffae9;
  box-shadow: 0 5px #363636;
  transform: translateY(4px);
}