body {
    background-color: #2e2e2e;
    font-family: 'Trebuchet MS', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2e2e2e;
  display: flex;
  border-radius: 25px;
  border-color: #808080;
  border-width: 2.5px;
  border-style: solid;
  justify-content: center;
}

ul li a {
  font-weight: bold;
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: solid;
  font-family: 'Montserrat';
  font-size: 20px;
}

ul li a.active {
  background-color: #686868;
}

ul li a:hover {
  background-color: #4b4b4b;
  border-radius: 7.5px;
}

h1 {
    /*text-align: center;*/
    padding: 70px;
    padding-top: 225px;
    font-family: 'Playfair Display';
    font-size: 75px;
    color: #fafafa;
}

p {
  font-family: 'Montserrat';
  font-size: 37.5px;
  margin-left: 70px;
  margin-bottom: 300px;
  position: relative;
  top: -125px;
  width: 650px;
  color: #d6d6d6;
}

button {
  /*text-align: center;*/
  background-color: #d6d6d6;
  height: 50px;
  width: 200px;
  margin-left: 70px;
  font-size: 25px;
  border-radius: 50px;
  border-color: #7c7c7c;
  font-family: 'Montserrat';
  position: relative;
  top: -375px;
  color: #202020;
  transition: 0.1s;
  box-shadow: 0 0 500px #ffffff;
}

button:hover {
  background-color:#5e5e5e;
}

button:active {
  background-color: #585858;
  box-shadow: 0 5px #303030;
  transform: translateY(4px);
}

#fish {
  width: 30%;
  margin: auto;
  display: block;
  position: relative;
  left: 350px;
  bottom: 825px;
}