body {
    background-color: #222222;
    font-family: 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right top, #106143, #0a4130, #08251e, #0a1a15, #030706);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  border-radius: 25px;
  justify-content: center;
}

ul li a {
  font-weight: bold;
  display: block;
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: solid;
  font-family: 'Montserrat';
  font-size: 20px;
}

ul li a.active {
  background-color: #424242;
}

ul li a:hover {
  background-color: #464646;
  border-radius: 7.5px;
}

p {
  font-family: 'Montserrat';
  font-size: 37.5px;
  margin-left: 70px;
  margin-bottom: 300px;
  position: relative;
  top: -125px;
  width: 650px;
  color: #ffffff;
}

button {
  /*text-align: center;*/
  background-color: #181818;
  height: 50px;
  width: 200px;
  margin-left: 70px;
  font-size: 25px;
  border-radius: 50px;
  font-family: 'Montserrat';
  position: relative;
  top: -375px;
  color: #ffffff;
  transition: 0.1s;
  box-shadow: 0 9px #363636;
}

button:hover {
  background-color:#303030 ;
}

button:active {
  background-color: #353535;
  box-shadow: 0 5px #363636;
  transform: translateY(4px);
}